node-red-data/flows.json
[
    {
        "id": "5d328f0f061ac3f2",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1015807eb89a5e38",
        "type": "mqtt-broker",
        "name": " Serveur MQTT ",
        "broker": "172.17.50.232",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "01bf552ed64a7e31",
        "type": "mqtt-broker",
        "name": "",
        "broker": "host.docker.internal",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1158d2400e7be7bc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3d90a4af7445afce",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "419d71bec330cc9e",
        "type": "ui_tab",
        "name": "Tableau de bord",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5bfb8b7b377a0873",
        "type": "ui_group",
        "name": "Sonomètres",
        "tab": "419d71bec330cc9e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1c4410ad4c9bef3",
        "type": "ui_tab",
        "name": "Qualité de l'air",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e6c74f6afa012ba8",
        "type": "ui_group",
        "name": "Qualité de l'air",
        "tab": "419d71bec330cc9e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "61539ec79a9566e1",
        "type": "mqtt in",
        "z": "5d328f0f061ac3f2",
        "name": "Sonomètre 1",
        "topic": "ciel/a120/sono/sono1",
        "qos": "0",
        "datatype": "json",
        "broker": "01bf552ed64a7e31",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 1240,
        "wires": [
            [
                "7cf4500d5d446bc8",
                "00b5f0ed17471740"
            ]
        ]
    },
    {
        "id": "cd17a1e22d40efbf",
        "type": "ui_gauge",
        "z": "5d328f0f061ac3f2",
        "name": "",
        "group": "5bfb8b7b377a0873",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": " Sono 1",
        "label": " dB",
        "format": "{{value}}",
        "min": 0,
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1240,
        "y": 1320,
        "wires": []
    },
    {
        "id": "8bda1f067ddcf7cb",
        "type": "ui_text",
        "z": "5d328f0f061ac3f2",
        "group": "5bfb8b7b377a0873",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Niveau sonore",
        "format": "{{msg.payload}} dB",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 1360,
        "wires": []
    },
    {
        "id": "d29715ac1ae0de25",
        "type": "ui_chart",
        "z": "5d328f0f061ac3f2",
        "name": "",
        "group": "5bfb8b7b377a0873",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Évolution Sono 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "120",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "d85e782cc0206191",
        "type": "mqtt in",
        "z": "5d328f0f061ac3f2",
        "name": "Sonomètre 2",
        "topic": "ciel/a120/sono/sono2",
        "qos": "0",
        "datatype": "json",
        "broker": "01bf552ed64a7e31",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 1400,
        "wires": [
            [
                "da9a16a9ef0cf901",
                "bd7c13af3a65183f"
            ]
        ]
    },
    {
        "id": "da9a16a9ef0cf901",
        "type": "debug",
        "z": "5d328f0f061ac3f2",
        "name": "Debug Sono2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1400,
        "wires": []
    },
    {
        "id": "9a9834e2c06cf97c",
        "type": "ui_gauge",
        "z": "5d328f0f061ac3f2",
        "name": "",
        "group": "5bfb8b7b377a0873",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": " Sono 2",
        "label": " dB",
        "format": "{{value}}",
        "min": 0,
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 1580,
        "wires": []
    },
    {
        "id": "536e0c73f6c1366e",
        "type": "ui_text",
        "z": "5d328f0f061ac3f2",
        "group": "5bfb8b7b377a0873",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Niveau sonore",
        "format": "{{msg.payload}} dB",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 1640,
        "wires": []
    },
    {
        "id": "4d1265886594caa4",
        "type": "ui_chart",
        "z": "5d328f0f061ac3f2",
        "name": "",
        "group": "5bfb8b7b377a0873",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Évolution Sono 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "120",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "00b5f0ed17471740",
        "type": "function",
        "z": "5d328f0f061ac3f2",
        "name": "function Extraire niveau",
        "func": "// Les données arrivent sous forme de strings, il faut les convertir en nombres\nmsg.payload = parseFloat(msg.payload.NiveauMoy);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1280,
        "wires": [
            [
                "cd17a1e22d40efbf",
                "8bda1f067ddcf7cb",
                "d29715ac1ae0de25"
            ]
        ]
    },
    {
        "id": "bd7c13af3a65183f",
        "type": "function",
        "z": "5d328f0f061ac3f2",
        "name": "function Extraire niveau",
        "func": "msg.payload = parseFloat(msg.payload.NiveauMoy);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1520,
        "wires": [
            [
                "9a9834e2c06cf97c",
                "536e0c73f6c1366e",
                "4d1265886594caa4"
            ]
        ]
    },
    {
        "id": "99eb239e4d2ab432",
        "type": "mqtt in",
        "z": "5d328f0f061ac3f2",
        "name": "Capteur CO2",
        "topic": "ciel/a120/co2/co21",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "01bf552ed64a7e31",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 1660,
        "wires": [
            [
                "4de74fc12bc44fd6",
                "a765206af79392a4",
                "8c0b5d41b575b061"
            ]
        ]
    },
    {
        "id": "4de74fc12bc44fd6",
        "type": "debug",
        "z": "5d328f0f061ac3f2",
        "name": "Debug CO2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1660,
        "wires": []
    },
    {
        "id": "a765206af79392a4",
        "type": "function",
        "z": "5d328f0f061ac3f2",
        "name": "function Extraire CO2",
        "func": "msg.payload = parseFloat(msg.payload.co2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1740,
        "wires": [
            [
                "da4f4f827d4a40b0",
                "062d575da5aeb93a",
                "0fcc14a18b3b8471"
            ]
        ]
    },
    {
        "id": "da4f4f827d4a40b0",
        "type": "ui_gauge",
        "z": "5d328f0f061ac3f2",
        "name": "",
        "group": "e6c74f6afa012ba8",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge CO2",
        "label": "ppm",
        "format": "{{value}}",
        "min": "350",
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "800",
        "seg2": "1200",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 1740,
        "wires": []
    },
    {
        "id": "062d575da5aeb93a",
        "type": "ui_text",
        "z": "5d328f0f061ac3f2",
        "group": "e6c74f6afa012ba8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": " Niveau CO2",
        "format": "{{msg.payload}} ppm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 1800,
        "wires": []
    },
    {
        "id": "0fcc14a18b3b8471",
        "type": "ui_chart",
        "z": "5d328f0f061ac3f2",
        "name": "",
        "group": "e6c74f6afa012ba8",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "8c0b5d41b575b061",
        "type": "function",
        "z": "5d328f0f061ac3f2",
        "name": "function Extraire Temp",
        "func": "msg.payload = parseFloat(msg.payload.temperature);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1940,
        "wires": [
            [
                "fd6e3901c85513a8",
                "5a25d96d01afd8f3",
                "26e238383a48cec6"
            ]
        ]
    },
    {
        "id": "fd6e3901c85513a8",
        "type": "ui_gauge",
        "z": "5d328f0f061ac3f2",
        "name": "",
        "group": "e6c74f6afa012ba8",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 1940,
        "wires": []
    },
    {
        "id": "5a25d96d01afd8f3",
        "type": "ui_text",
        "z": "5d328f0f061ac3f2",
        "group": "e6c74f6afa012ba8",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Température",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 2000,
        "wires": []
    },
    {
        "id": "26e238383a48cec6",
        "type": "ui_chart",
        "z": "5d328f0f061ac3f2",
        "name": "",
        "group": "e6c74f6afa012ba8",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "7cf4500d5d446bc8",
        "type": "debug",
        "z": "5d328f0f061ac3f2",
        "name": "Debug Sono1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1180,
        "wires": []
    }
]